<section class="card">
  <a href="/destination/{{id}}">
    <header>{{destination.name}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
    </div>
  </a>
</section>