<section class="card">
  <a href="/recipe/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src={{image}} alt="">
      <p>Serves: {{servings}}</p>
    </div>
  </a>
</section>