<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feed Me</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-1">
      <img class="logo" src="/assets/Feed Me Logo_wide.png" alt="Feed Me Logo" />
     </header>   
    <nav class="border-0">
     <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="">Home</a> 
        <a href="">All Recipes</a> 
        <a href="">My Shopping List</a> 
        <a href="">Add a Recipe</a> 
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>   
    {{!-- <h2 class="sub-header">Feed Me is your one-stop-shop for unique recipe discovery, meal planning, and grocery list creation. Select a destination below to get started.</h2> --}}
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      <a href="">Contact Us</a>
    </footer>
  </div>

  <!-- Render script for logged in users only -->
 {{#if logged_in}}
  <script src="js/login.js"></script>
  {{/if}}
</body>
