<h3>Add a Recipe</h3>
<section>
    <form>
        <label for="name">Recipe Name:</label><br>
        <input type="text" id="name" name="recipe-name"><br />

        <label for="instructions">Instructions:</label>
        <input type="text" id="instructions" name="instructions"><br />

        <label for="ingredients">Ingredients:</label>
        <input type="text" id="ingredients" name="ingredients"><br />
        
        Cuisine:
        <input type="radio" id="american" name="cuisine" value="American">
        <label for="american">American</label><br />
        <input type="radio" id="asian" name="cuisine" value="Asian">
        <label for="asian">Asian</label><br />
        <input type="radio" id="indian" name="cuisine" value="Indian">
        <label for="indian">Indian</label><br />
        <input type="radio" id="italian" name="cuisine" value="Italian">
        <label for="italian">Italian</label><br />
        <input type="radio" id="mediterranean" name="cuisine" value="Mediterranean">
        <label for="mediterranean">Mediterranean</label><br />
        <input type="radio" id="mexican" name="cuisine" value="Mexican">
        <label for="mexican">Mexican</label><br />
        
        <label for="name">Serving size:</label>
        <input type="text" id="serving" name="serving-size"><br />

        {{!add input to upload photo?}}

        <label for="recipeImage">Upload an image of your recipe:</label>
        <input type="file" id="recipeImage" name="recipeImage">

    </form>
    <button class="add-recipe">Add Recipe</button>
</section>