<div class="opener">
  <h3 class="sub-header">Your destination for meal planning.</h3>
  <p class="description">Feed Me is your one-stop-shop for unique recipe discovery, meal planning, and grocery list creation. Discover new recipes and new ideas -- or share your own. With Feed Me, your taste buds are sure to be delighted. Select a destination below to get started.</p>
</div>
<div class="card-container">
<section class="card border-0">

 <h3 class="cuisine-header">American</h3>
  <a href="/recipes/american">

    <div class="card-body">
      <img class="food-img" src='../assets/crispy-fried-chicken-plate-with-salad-carrot.jpg' alt="fried chicken" />
    </div>
  </a>
</section>

<section class="card">

  <h3 class="cuisine-header">Asian</h3>
  <a href="/recipes/asian">

    <div class="card-body">
      <img class="food-img" src="../assets/stir-fry-chicken-sweet-peppers-green-beans.jpg" alt="pan of stir fry chicken" />
    </div>
  </a>
</section>

<section class="card">

  <h3 class="cuisine-header">Indian</h3>
  <a href="/recipes/indian">

    <div class="card-body">
      <img class="food-img" src="../assets/delicious-indian-food-tray.jpg" alt="tray of indian food" />
    </div>
  </a>
</section>

<section class="card">

 <h3 class="cuisine-header">Italian</h3>
 <a href="/recipes/italian">

    <div class="card-body">
      <img class="food-img" src="../assets/penne-pasta-tomato-sauce-with-chicken-tomatoes-wooden-table.jpg" alt="plate of penne pasta" />
    </div>
  </a>
</section>

<section class="card">

  <h3 class="cuisine-header">Mediterranean</h3>
  <a href="/recipes/mediterranean">

    <div class="card-body">
      <img class="food-img" src="../assets/outdoor-lunch-with-salads-olives-bread.jpg" alt="mediterranean spread" />
    </div>
  </a>
</section>

<section class="card">

  <h3 class="cuisine-header">Mexican</h3>
  <a href="/recipes/mexican">

    <div class="card-body">
      <img class="food-img" src="../assets/top-view-taco-with-meat-veggies-held-hand.jpg" alt="hands holding taco" />
    </div>
  </a>
</section>
</div>

<section class="action">     
    <h4>Not sure what you want to eat? Let us choose!</h4>
    <button class="btn" id="auto-feed">You Feed Me!</button>

</section>
 </div> 

       {{#if logged_in}}
      <script src="/js/autoFeed.js"></script>
      {{/if}}