<section class="container">
  <h3 class="sub-header">Recipes</h3>
  <section class="card-container-2">
    {{#each data.results as |recipe|}}
    {{> recipe-details}}
    {{/each}}
  </section>
</section>